# Python cache files
__pycache__/
*.py[cod]

# Packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
.venv/

# VSCode settings (if you're using it)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Standard folders
data
out